<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677523189067-6836qhb690hivpnkemk9feclipfqpb4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677523189067-6836qhb690hivpnkemk9feclipfqpb4j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>677523189067-0gbe75radh5oj4csqj0i49vd81pm7t8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASXgzTBJo2OfLLV3yegU7TEADVfOMJOGg</string>
	<key>GCM_SENDER_ID</key>
	<string>677523189067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enappd.IonNgCapGoogleLogin</string>
	<key>PROJECT_ID</key>
	<string>ionngcaplogin</string>
	<key>STORAGE_BUCKET</key>
	<string>ionngcaplogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677523189067:ios:ae1760899423d69dabccce</string>
</dict>
</plist>