<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list-header class="ion-margin-bottom">
    <ion-label>You are logged in!</ion-label>
  </ion-list-header>
  <ion-item *ngIf="user" class="ion-padding-bottom">
    <ion-thumbnail slot="start">
      <img [src]="user.imageUrl || user.picture" />
    </ion-thumbnail>
    <ion-label>
      <ion-text>
        <h3 class="ion-text-big" *ngIf="user.name">{{user.name}}</h3>
        <h3 class="ion-text-big" *ngIf="!user.name">{{user.givenName}} {{user.familyName}}</h3>
      </ion-text>
        <p>{{user.email}}</p>
    </ion-label>
  </ion-item>
  <ion-button class="ion-margin-top" color="danger" expand="full" (click)="signOut()">Logout</ion-button>
</ion-content>
