.wrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  max-width: 250px;
  margin: auto;
  text-align: center;
  padding: 50px;
}
.title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
.subtitle {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.full-width{
  width: 100%;
  padding: 20px;
}